.title-container {
  position: relative;
  text-align: center;
  width: 100%;
}

.title {
  margin: 0;
  margin-bottom: -15px;
  font-family: "Dragon Hunter", sans-serif;
  font-weight: 300;
  font-size: 6rem;
  text-align: center;
  text-transform: uppercase;

  background-image: linear-gradient(to bottom, #fcf18b, #ffd363);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  position: relative;
  z-index: 1;
}

.title-shadow {
  width: 100%;
  margin: 0;
  font-family: "Dragon Hunter", sans-serif;
  font-weight: 300;
  font-size: 6rem;
  text-align: center;
  text-transform: uppercase;

  background-image: linear-gradient(to bottom, #fcf18b, #ffd363);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  position: absolute;
  left: 0;
  top: 0;
  text-shadow: 10px 10px 8px rgba(0, 0, 0, 0.6);
}
