.profile-modal-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Wellfleet", serif;
}

  .profile-modal-content {
    width: 88%;
    margin-top: 1em;
  }

  .user-details-container {
    margin-top: 2rem;
    height: 35%;
    display: grid;
    grid-template-columns: 23% 1fr;
    grid-template-rows: auto auto;
    gap: 0.5rem 3rem;
    align-items: center;
    
  }

  
  .user-profile-pic {
    width: 7rem;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  
  .username {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  
  .sec-col {
    align-self: start;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: 1.2rem;
    font-weight: bold;
  } 

  
  .first-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border-right: 1.5px solid #DAB274; */
    border-right: 1.5px solid rgba(252, 241, 139, 0.5);
    position: relative;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .profile-pic-selector {
    position: relative;
}


.pic-arrow {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Lewa strzałka */
.pic-arrow:first-of-type {
  left: -2rem;
  top: 50%;
  transform: translateY(-50%);
}

/* Prawa strzałka */
.pic-arrow:last-of-type {
  right: -2rem;
  top: 50%;
  transform: translateY(-50%);
}

.edit-button{
  position: absolute;
  top: 10%;
  right: 5%;
  transform: translateY(-50%);
}

.description-textarea {
  width: 100%;
  height: 100px;
  padding: 5px;
  border: 1px solid rgba(252, 241, 139, 0.5);
  background: transparent;
  resize: none;
  border-radius: 10px;
  font-family: "Wellfleet", serif;
  font-size: 1.2rem;
  font-weight: bold;
  /* margin-top: 1em; */
  /* margin-block-end: 1em; */
}

.description-textarea:focus {
  outline: none;
  border-color: #DAB274;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  padding: 5px;
  background: transparent;
  border-radius: 15px;
  border: 2px solid;
  border-color: rgba(252, 241, 139, 0.5);

  width: 80%;
  max-width: 400px;
}

.search-container input {
  width: 100%;
  padding: 5px;
  border: none;
  background: transparent;
  color: rgba(252, 241, 139, 0.5);
  font-size: 12px;
  outline: none;
}

.search-container input::placeholder {
  color: #aaa;
}


.search-results ul {
  padding: 0;
}

.search-results img{
  width: 2.5vh;
}
.search-results ul li {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.friens-list .friend-invitations{

}

.friend-item, .invitation-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.friend-profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(252, 241, 139, 0.5);
}

.tabs img{
  height: 3vh;
}

.tabs-item{
  max-height: 15vh; 
  overflow-y: auto; /* Włącza przewijanie w pionie */
  scrollbar-width: thin; /* Cieńszy scrollbar */
  scrollbar-color: rgba(252, 241, 139, 0.5) transparent; /* Kolor scrollbara */
  width: 15vw;
}

