.content-container {
  justify-content: space-between;
}

.content-container.flex-start {
  justify-content: flex-start;
}

.compass-container {
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.compass-container img {
  display: block;
  height: 75vh;
  width: auto;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.choose-leader-label {
  font-size: calc(3.65vw + 0.65vh);
  pointer-events: none;
  white-space: nowrap;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to top, #ffd363, #fcf18b);
}

.teams-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5vh auto;
}

.team.my-team {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  text-align: center;
}

.opposing-team {
  text-align: right;
}

.player {
  display: flex;
  align-items: center;
  margin-bottom: 2vh;
  background: linear-gradient(to bottom, #2c3d46, #131d25);
  padding: 0.5vh 1vw;
  position: relative;
  border-style: outset;
  border-width: 2px;
  border-color: #fcdc8b80;
  margin-top: 55vh;
}

.my-team .player {
  justify-content: flex-start;
  border-radius: 50px 50px 50px 50px;
  border-left: none;
  width: 13vw;
  min-width: 150px;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.opposing-team .player {
  justify-content: flex-end;
  border-radius: 50px 0 0 50px;
  border-right: none;
}

.profile-pic {
  width: 3.5vw;
  height: auto;
}

.username {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to top, #ffd363, #fcf18b);
}

.my-team .username {
  margin-left: 1vw;
}

.opposing-team .username {
  margin-right: 1vw;
}

.align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selected-player-info img {
  height: 20vh;
}

.selected-player-info {
  background: linear-gradient(to top, #ffd363, #fcf18b);
  padding: 3vh 1.5vw;
  margin: 1vh 0;
  border-radius: 50px;
}

.player.selected {
  background: linear-gradient(to top, #ffd363, #fcf18b);
}

.player.selected .username {
  background-image: linear-gradient(to bottom, #2c3d46, #131d25);
}
