.modal-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, 0.5);

  z-index: 1000;
}

/* Default modal variant */
.modal-content-default {
  position: absolute;
  width: 44.8%;
  height: 48.2%;
  border-radius: 17px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal-background-img-default {
  width: 44.8%;
  height: 53%;
  margin: auto;
  border-radius: 17px;
}


/* Large modal variant */
.modal-content-large {
  position: absolute;
  width: 65%; /* 80% width for large variant */
  height: 85%;
  border-radius: 17px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal-background-img-large {
  width: 65%; /* 80% width for large variant */
  height: 85%;
  margin: auto;
  border-radius: 17px;
}



.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}


.modal-content-small {
  position: absolute;
  width: 25%;
  height: 30%;
  min-width: 500px;
  min-height: 320px;
  border-radius: 17px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal-background-img-small {
  width: 25%;
  height: 30%;
  min-width: 500px;
  min-height: 320px;
  margin: auto;
  border-radius: 17px;
}

