/* === Settings Overlay === */
.settings-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Container for settings elements */
.settings-overlay-container {
  padding-top: 3%;
  width: 65%;
  margin: auto;
  height: 60%;
}

/* Grid layout for settings rows */
.settings-grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr; /* Four evenly spaced rows */
  text-align: left; /* Align text to the left */
  height: 100%;
}

/* === Settings Row Item === */

/* Wrapper for individual setting items */
.settings-row-item {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns for title and slider */
  margin: 0;
}

/* Title section of a row item */
.settings-row-item-title {
  width: 80%;
  margin: auto;
  position: relative; /* Relative for positioning child elements */
  display: flex; /* Flexbox for alignment */
  justify-content: left; /* Align content to the left */
  align-items: center;

  /* Text styles */
  font-size: calc(0.5rem + 1.7vw);
  text-transform: uppercase; /* Uppercase text */
  user-select: none;
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
}

/* === Gradient Text and Shadows === */

/* Main title text */
.settings-modal-p {
  position: absolute; /* Overlaps shadow */
  z-index: 2; /* Above the shadow */
}

/* Gradient text style */
.settings-row-item-title p {
  margin-left: auto;
  margin-right: auto;
  padding-left: 2px;

  /* Gradient text */
  background-image: linear-gradient(to bottom, #fcf18b, #ffd363);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  user-select: none;
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
}

/* Shadow for title text */
.settings-modal-p-shadow {
  position: absolute;
  z-index: 1; /* Below the main text */
  padding-left: 2px;

  text-shadow: 10px 10px 8px rgba(0, 0, 0, 1); /* Shadow effect */
}

.slider {
  margin: auto;
  width: 80%;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 1em 0;
  width: 100%;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.625em; /* Track height */
  cursor: pointer;
  box-shadow: 0.0625em 0.0625em 0.0625em #000000; /* 1px */
  background: #8d2736;
  border-radius: 0;
  border: 0.2em solid #e2d772;
}

input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0.125em 0.125em 0.0625em #2e2e1b; /* 2px 2px 1px */
  border: 0 solid rgba(255, 247, 171, 0.7);
  height: 1.6em; /* Thumb height */
  width: 1.6em; /* Thumb width */
  border-radius: 50%;
  background-image: linear-gradient(to bottom, #fcf18b, #ffd363);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.675em; /* Adjusted margin-top */
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #8d2736;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 0.75em; /* Track height */
  cursor: pointer;
  box-shadow: 0.0625em 0.0625em 0.0625em #000000; /* 1px */
  background: #8d2736;
  border: 0.2em solid transparent; /* Increased border width from 0.125em to 0.25em */
}

input[type="range"]::-moz-range-thumb {
  box-shadow: 0.125em 0.125em 0.0625em #2e2e1b; /* 2px 2px 1px */
  border: 0 solid transparent;
  height: 1.75em; /* Thumb height */
  width: 1.75em; /* Thumb width */
  border-radius: 50%;
  background: rgba(255, 247, 171, 0.7);
  cursor: pointer;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 0.75em; /* Track height */
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-ms-fill-lower {
  background: #8d2736;
  border: 0.2em solid black; /* Increased border width from 0.125em to 0.25em */
  border-radius: 0;
  box-shadow: 0.0625em 0.0625em 0.0625em #000000; /* 1px */
}

input[type="range"]::-ms-fill-upper {
  background: #8d2736;
  border: 0.2em solid black; /* Increased border width from 0.125em to 0.25em */
  border-radius: 0;
  box-shadow: 0.0625em 0.0625em 0.0625em #000000; /* 1px */
}

input[type="range"]::-ms-thumb {
  box-shadow: 0.125em 0.125em 0.0625em #2e2e1b; /* 2px 2px 1px */
  border: 0 solid rgba(255, 247, 171, 0.7);
  height: 1.75em; /* Thumb height */
  width: 1.75em; /* Thumb width */
  border-radius: 50%;
  background: rgba(255, 247, 171, 0.7);
  cursor: pointer;
}

input[type="range"]:focus::-ms-fill-lower {
  background: #8d2736;
}

input[type="range"]:focus::-ms-fill-upper {
  background: #8d2736;
}

.settings-row-help-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings-row-help-btn span {
  font-size: calc(0.2em + 1vw);
  text-transform: uppercase;
  background-image: linear-gradient(to bottom, #fcf18b, #ffd363);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  padding: 0.23em;
  user-select: none;
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
}

.confirmation-modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
}

.confirmation-modal-background-img {
  width: 17rem;
  border-radius: 17px;
}

.confirmation-modal-content {
  position: absolute;
  width: 15rem;
  border-radius: 17px;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  margin-bottom: 0.5em;
}

.confirmation-modal-content p{
  margin: 0.3em;
  margin-bottom: 0.4em;
  font-size: calc(1em + 0.3vw);
  text-align: center;
  letter-spacing: 1px;

  margin-left: auto;
  margin-right: auto;
  padding-left: 2px;

  /* Gradient text */
  background-image: linear-gradient(to bottom, #fcf18b, #ffd363);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  user-select: none;
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
}