.settings-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.settings-overlay-container {
  padding-top: 3%;
  width: 75%;
  margin: auto;
  height: 60%;
}

.settings-grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  text-align: left;
  height: 100%;
}

.settings-row-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
}

.settings-row-item-title {
  width: 80%;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;

  font-size: calc(0.5rem + 1.7vw);
  text-transform: uppercase;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.settings-modal-p {
  position: absolute;
  z-index: 2;
}

.settings-row-item-title p {
  margin-left: auto;
  margin-right: auto;
  padding-left: 2px;

  background-image: linear-gradient(to bottom, #fcf18b, #ffd363);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.settings-modal-p-shadow {
  position: absolute;
  z-index: 1;
  padding-left: 2px;

  text-shadow: 10px 10px 8px rgba(0, 0, 0, 1);
}

.slider {
  margin: auto;
  width: 80%;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 1em 0;
  width: 100%;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.625em;
  cursor: pointer;
  box-shadow: 0.0625em 0.0625em 0.0625em #000000;
  background: #8d2736;
  border-radius: 0;
  border: 0.2em solid #e2d772;
}

input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0.125em 0.125em 0.0625em #2e2e1b;
  border: 0 solid rgba(255, 247, 171, 0.7);
  height: 1.6em;
  width: 1.6em;
  border-radius: 50%;
  background-image: linear-gradient(to bottom, #fcf18b, #ffd363);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.675em;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #8d2736;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 0.75em;
  cursor: pointer;
  box-shadow: 0.0625em 0.0625em 0.0625em #000000;
  background: #8d2736;
  border: 0.2em solid transparent;
}

input[type="range"]::-moz-range-thumb {
  box-shadow: 0.125em 0.125em 0.0625em #2e2e1b;
  border: 0 solid transparent;
  height: 1.75em;
  width: 1.75em;
  border-radius: 50%;
  background: rgba(255, 247, 171, 0.7);
  cursor: pointer;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 0.75em;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-ms-fill-lower {
  background: #8d2736;
  border: 0.2em solid black;
  border-radius: 0;
  box-shadow: 0.0625em 0.0625em 0.0625em #000000;
}

input[type="range"]::-ms-fill-upper {
  background: #8d2736;
  border: 0.2em solid black;
  border-radius: 0;
  box-shadow: 0.0625em 0.0625em 0.0625em #000000;
}

input[type="range"]::-ms-thumb {
  box-shadow: 0.125em 0.125em 0.0625em #2e2e1b;
  border: 0 solid rgba(255, 247, 171, 0.7);
  height: 1.75em;
  width: 1.75em;
  border-radius: 50%;
  background: rgba(255, 247, 171, 0.7);
  cursor: pointer;
}

input[type="range"]:focus::-ms-fill-lower {
  background: #8d2736;
}

input[type="range"]:focus::-ms-fill-upper {
  background: #8d2736;
}

.settings-row-help-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings-row-help-btn span {
  font-size: calc(0.2em + 1vw);
  text-transform: uppercase;
  background-image: linear-gradient(to bottom, #fcf18b, #ffd363);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  padding: 0.15em 0.23em;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.confirmation-modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.confirmation-modal-background-img {
  width: 17rem;
  border-radius: 17px;
}

.confirmation-modal-content {
  position: absolute;
  width: 15rem;
  border-radius: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5em;
}

.confirmation-modal-content p {
  margin: 0.3em;
  margin-bottom: 0.4em;
  font-size: calc(1em + 0.3vw);
  text-align: center;
  letter-spacing: 1px;

  margin-left: auto;
  margin-right: auto;
  padding-left: 2px;

  background-image: linear-gradient(to bottom, #fcf18b, #ffd363);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
