.login-form-container {
  grid-column: 1 / span 3; 
  grid-row: 1 / span 6; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 96%;
  width: 100%;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 55%; 
  width: 95%; 
  padding: 10px; 
  border-radius: 17px; 
  margin-top: 1.2vw;
  padding-bottom: 0;
  margin-bottom: 0;
}

.login-form button {
  font-size: 1.2rem;
  padding: 10px;
  margin-bottom: 0;
  border: none;
  border-radius: 17px;
  cursor: pointer;
  align-self: center; 
  margin-top: 1%; 
}

.notification:before {
  background-color: #1B74BB !important;
}

.or-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding-bottom: 10px;
  padding-top: 0;
}

.or-text {
  padding-left: 2px;
  font-size: calc(0.2vw + 1em);
  font-weight: bold;
  background: linear-gradient(to right, #FFD363, #FCF18B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 10px;
}

.gold-line {
  flex-grow: 1;
  height: 2px;
  max-width: 30%;
  background: linear-gradient(to right, transparent, #FFD363, transparent);
}

.reset-password {
  width: 75%;
}

.reset-password-link {
  float: right;
  font-size: 0.7em;
  background: linear-gradient(to right, #FFD363, #FCF18B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  text-decoration: none; 
  transition: border-bottom 0.1s ease; 
  margin-bottom: 1.2rem;
}

.reset-password-link:hover {
  border-bottom: 0.5px solid #FFD363; 
}

.google-container{
  margin-top: 10px;
  margin-bottom: 25px;
}

.login-register-link{
  float: right;
  font-size: 0.8em;
  background: linear-gradient(to right, #FFD363, #FCF18B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  text-decoration: none; 
  transition: border-bottom 0.1s ease; 
  margin-bottom: 1.2rem;

}

.login-register-link:hover {
  border-bottom: 0.5px solid #FFD363; 
}