.login-container {
  grid-column: 1 / span 3; /* Stretch across all columns */
  grid-row: 1 / span 6; /* Stretch across all rows */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 96%; /* Match the height of its parent */
  width: 100%; /* Match the width of its parent */
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60%; /* Full height of parent */
  width: 90%; /* Full width of parent */
  padding: 10px; /* Padding for spacing */
  border-radius: 17px; /* Rounded corners */
  margin-top: 1.4vw;
}

.login-form button {
  font-size: 1.2rem;
  padding: 10px;
  border: none;
  border-radius: 17px;
  cursor: pointer;
  align-self: center; /* Align the button to the right */
  margin-top: 1%; /* Add some spacing above the button */
}

.notification:before {
  background-color: #1B74BB !important;
}

.or-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding-bottom: 10px;
  padding-top: 0;
}

.or-text {
  padding-left: 2px;
  font-size: calc(0.2vw + 1em);
  font-weight: bold;
  background: linear-gradient(to right, #FFD363, #FCF18B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 10px;
}

.gold-line {
  flex-grow: 1;
  height: 2px;
  max-width: 30%;
  background: linear-gradient(to right, transparent, #FFD363, transparent);
}