.content-container {
  width: 100vw;
  height: 87%;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.bottom-section {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin-top: auto;
  padding-bottom: 1rem;
}

.cards-section img {
  width: 9vw;
  border-radius: 8px;
}

.cards-section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2vh;
  padding-top: 20px;
  justify-items: center;
}

.card-container {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.card.flip {
  animation: flipCard 0.6s forwards;
}

@keyframes flipCard {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}

.card-text {
  font-family: "Wellfleet", serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #4f3d2a;
  font-weight: 700;
  font-size: calc(0.2rem + 0.8vw);
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
}

.selected-card {
  position: relative;
  box-sizing: border-box;
  animation: pulse 0.5s infinite alternate;
}

.selected-card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: 2px solid rgba(255, 223, 0, 0.6);
  border-radius: 8px;
  pointer-events: none;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

.gold-text {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to top, #af8824, #ffd769);
}

.item {
  flex: 1;
  text-align: center;
}

.item:nth-child(2) {
  flex: 2;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  position: relative;
  display: inline-block;
}

.horizontal-gold-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 1.5px;
  transform: translate(-50%, -50%);
  background: linear-gradient(to right, #41392c, #d1c26d, #41392c);
  z-index: 0;
}

button {
  position: relative;
  z-index: 1;
}

.timer {
  position: relative;
  padding: 0.3125rem 1.25rem;
  font-weight: 300;
  font-size: calc(0.2rem + 1vw);
  text-align: center;
  text-transform: uppercase;
  border-style: solid;
  border-width: 0.0625rem;
  border-color: rgba(252, 241, 139, 0.5);
  background-image: linear-gradient(to top, #991b1b, #e52121);
  border-radius: 1.6875rem;
  box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  letter-spacing: 2px;
  color: #fcf18b;
  z-index: 1;
}

.blue {
  background-image: linear-gradient(to top, #0b3f51, #1b74bb);
}

.red {
  background-image: linear-gradient(to top, #991b1b, #e52121);
}

.timer-container {
  width: 70%;
  text-align: center;
  position: relative;
}

.points-red {
  position: absolute;
  top: 15%;
  left: 2%;
  background-image: linear-gradient(to top, #991b1b, #e52121);
}

.points-blue {
  position: absolute;
  top: 15%;
  left: 2%;
  margin-top: 3rem;
  background-image: linear-gradient(to top, #0b3f51, #1b74bb);
}

.polygon1 {
  height: 15vh;
  position: absolute;
  top: 5%;
  left: 0%;
}

.polygon2 {
  height: 15vh;
  position: absolute;
  top: 13%;
  left: 0%;
  margin-top: 5rem;
}

.banner-container {
  position: absolute;
  top: 15%;
  right: 8%;
}

.banner-container img {
  width: 9vw;
}

.shelf {
  height: 14vh;
}

.card-stack {
  position: absolute;
  display: inline-block;
  height: 14vh;
  transform: translate(-60%, -10%);
}

.codename-card {
  position: relative;
  transform: translate(0, -10%);
  z-index: 2;
  height: 14vh;
  border-radius: 10px;
  border-style: groove;
  border-color: #f0d8b6;
  border-width: 1px;
  box-sizing: border-box;
  cursor: pointer;
}

.codename-card-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  z-index: 3;
  color: #f9e9d1;
  font-weight: 300;
  font-size: calc(0.5rem + 1vw);
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}

.card-black-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  animation: fadeIn 0.2s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.card-black-img {
  width: 30vw;
  height: auto;
  border-radius: 20px;
  transform: scale(0);
  animation: scaleUp 0.5s ease-out forwards;
}

@keyframes scaleUp {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.codename-input-container {
  position: fixed;
  display: flex;
  flex-direction: column; /* Stack input and slider */
  justify-content: center;
  align-items: center;
  width: 25%;
  padding: 5px;
  padding-top: 50px;
}

.codename-input {
  flex: 1;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  width: 20vw;
  background-color: transparent;
  color: #f9e9d1;
  font-size: calc(0.4rem + 2vw);
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  border: none;
  outline: none;
  animation: inputScaleUp 0.5s ease-out forwards;
}

.codename-input-container .codename-slider {
  width: 80%;
  -webkit-appearance: none !important;
  appearance: none !important;
  background: #605e5e !important;
  height: 2px !important;
  border-radius: 2px !important;
  outline: none !important;
  opacity: 0.9 !important;
  transition: opacity 0.2s !important;
}

.codename-input-container .codename-slider:hover {
  opacity: 1 !important;
}

.codename-input-container .codename-slider::-webkit-slider-runnable-track {
  width: 100% !important;
  height: 2px !important;
  background: #605e5e !important;
  border: #000000;
}

.codename-input-container .codename-slider::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  appearance: none !important;
  width: 12px !important;
  height: 12px !important;
  background: #f9e9d1 !important;
  border-radius: 50% !important;
  cursor: pointer !important;
  margin-top: -5px !important;
}

.slider-value {
  font-size: 1.2rem;
  font-weight: bold;
  color: #f9e9d1;
  margin-top: 5px;
  margin-right: 12px;
}

@keyframes inputScaleUp {
  from {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

.codename-input:focus::placeholder {
  color: transparent;
}

.below.timer {
  top: 1.4em;
}

.hidden {
  display: none;
}

.card-container.disabled {
  pointer-events: none;
}

.corner-icon-container {
  position: absolute;
  top: -9%;
  right: -10%;
  width: 40% !important;
  height: 45%;
  z-index: 2;
  transform: rotate(30deg);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: hit 0.5s ease-in-out;
}

.corner-icon-container .corner-icon {
  position: relative;
  width: 100%;
  transform: rotate(27deg);
}

.corner-text {
  position: absolute;
  color: #4f3d2a;
  margin: auto;
  margin-left: 0.3em;
  font-size: calc(0.1rem + 0.8vw);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  transform: rotate(1deg);
}

.audio-room {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes hit {
  0% {
    transform: rotate(30deg) scale(1);
  }
  20% {
    transform: rotate(28deg) scale(1.1);
  }
  40% {
    transform: rotate(32deg) scale(0.9);
  }
  60% {
    transform: rotate(29deg) scale(1.05);
  }
  80% {
    transform: rotate(31deg) scale(0.95);
  }
  100% {
    transform: rotate(30deg) scale(1);
  }
}

.custom-overlay {
  position: fixed;
  top: 9%;
  right: -14%;
  width: 13%;
  height: 70%;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
  border-radius: 1.0625rem 0rem 0rem 1.0625rem;
  border-left: 5px solid #5B544E;
  border-top: 5px solid #5B544E;
  border-bottom: 5px solid #5B544E;
  background: linear-gradient(180deg, #22303B 0%, #0B1319 100%);
  z-index: 1000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.custom-overlay.open {
  right: 0;
}

.overlay-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-btn {
  position: absolute;
  top: 2%;
  left: 3%;
  background: transparent;
  border: none;
  cursor: pointer;
}

.half-circle-btn {
  position: fixed;
  top: 12%;
  right: 0;
}

.mic-icon {
  height: 90%;
}