.chat-container {
  position: absolute;
  left: 10%;
  bottom: 50%;
  width: 15vw;
  height: 27vh;
  background-image: linear-gradient(to top, #21272b, #353e44);
  border-radius: 10px;
  border-style: outset;
  border-color: #f0d8b6;
  border-width: 1px;
  opacity: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow-y: auto; /* vertical scrolling */
  overflow-x: hidden; /* horizontal scrolling */
  padding: 0.5rem;
  padding-top: 0;
  transition: height 0.4s ease, opacity 0.4s ease;
  scrollbar-width: thin;
  scrollbar-color: #f0d8b6 #353e44;
}

.chat-container.focused {
  height: 45vh;
  opacity: 90%;
}

.messages {
  width: 100%;
  overflow-y: auto;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.message {
  max-width: 90%;
  padding: 0.5rem 0.7rem;
  border-radius: 10px;
  font-size: calc(0.2rem + 0.5vw);
}

.message.outgoing {
  align-self: flex-end;
  background-color: #42474a;
  color: #fff3e2;
  text-align: right;
}

.message-input {
  background-image: linear-gradient(to top, #21272b, #353e44);
  border-radius: 5px;
  border-style: outset;
  border-color: #f0d8b6;
  border-width: 1px;
  opacity: 40%;
  width: 90%;
  padding: 0.4rem;
  margin-bottom: 0.625rem;
  color: #fff3e2;
  font-size: calc(0.4rem + 0.5vw);
  font-weight: 300;
  text-transform: uppercase;
  opacity: 60%;
}

.message.incoming {
  align-self: flex-start;
  background-color: #686b6d;
  color: #f0e9d2;
  text-align: left;
}

.div-sender {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to top, #af8824, #ffd769);
}

.spacer-end {
  padding: 1px;
}

.message.admin {
  background-color: #686b6d;
  border-radius: 5px;
  border: 2px solid #f0d8b6;
  animation: glow-gold 1s ease-in-out infinite;
}

@keyframes glow-gold {
  0%,
  100% {
    box-shadow: 0 0 2px #d4af37, 0 0 4px #d4af37;
    border-color: #d4af37;
  }
  50% {
    box-shadow: 0 0 4px #ffbf00, 0 0 6px #ffbf00;
    border-color: #ffbf00;
  }
}

.no-gold-animation .message.admin {
  animation: none !important;
  box-shadow: none;
  border-color: #686b6d;
}
