.chat-container {
    position: absolute;
    left: 2%;
    bottom: 20%;
    width: 15vw;
    height: 20vh;
    background-image: linear-gradient(to top, #21272B, #353E44);
    border-radius: 10px;
    border-style: outset;
    border-color: #F0D8B6;
    border-width: 1px;
    opacity: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    overflow-y: auto; /* vertical scrolling */
    overflow-x: hidden; /* horizontal scrolling */
    padding: 0.5rem;
    transition: height 0.4s ease, opacity 0.4s ease;
    scrollbar-width: thin;
    scrollbar-color: #F0D8B6 #353E44;
}

.messages {
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.message {
    max-width: 80%;
    padding: 0.4rem;
    border-radius: 10px;
    font-size: calc(0.4rem + 0.5vw);
}

.message.outgoing {
    align-self: flex-end;
    background-color: #42474a;
    color: #fff3e2;
    text-align: right;
}

.message.incoming {
    align-self: flex-start;
    background-color: #7a8084;
    color: #f0e9d2;
    text-align: left;
}

.chat-container.focused {
    height: 40vh;
    opacity: 90%;
}

.message-input {
    background-image: linear-gradient(to top, #21272B, #353E44);
    border-radius: 5px;
    border-style: outset;
    border-color: #F0D8B6;
    border-width: 1px;
    opacity: 40%;
    width: 90%;
    padding: 0.4rem;
    margin-bottom: 0.625rem;
    color: #fff3e2;
    font-size: calc(0.4rem + 0.5vw);
    font-weight: 300;
    text-transform: uppercase;
    opacity: 60%;
}
.div-sender {
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to top, #af8824, #ffd769);
    opacity: 60%;
}

