/* ------------------- Title and Shadow Styling ------------------- */

/* Title Container */
 .title-container1 {
  position: relative; 
  display: inline-block; 
}

/* Main Title Styling */
.title1 {
  position: relative; 
  padding-left: 1vw;  
  font-family: "Dragon Hunter", sans-serif; 
  font-weight: 300; 
  font-size: calc(2.7rem + 1vh); 
  letter-spacing: 2px; 
  
  background-image: linear-gradient(to bottom, #fcf18b, #ffd363); 
  background-clip: text; 
  -webkit-background-clip: text; 
  color: transparent;
  
  text-align: left; 
  z-index: 2; 
}

/* Title Shadow Styling */
.title-shadow1 {
  position: absolute; 
  padding-left: 1vw; 
  left: 0; 
  top: 0; 
  width: 100%;
  font-family: "Dragon Hunter", sans-serif; 
  font-size: calc(2.7rem + 1vh); 
  letter-spacing: 2px; 
  background-image: linear-gradient(to bottom, #fcf18b, #ffd363); 
  background-clip: text; 
  -webkit-background-clip: text; 
  color: transparent; 
  text-align: left; 
  text-shadow: 10px 10px 8px rgba(0, 0, 0, 0.8); 
  z-index: 1;
}

/* Title margin reset */
h1 { 
  margin: 0;
}