.title-base {
  margin: 0;
  font-family: "Dragon Hunter", sans-serif;
  font-weight: 300;
  font-size: calc(3.7rem + 1vw);
  text-transform: uppercase;

  background-image: linear-gradient(to bottom, #fcf18b, #ffd363);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.title {
  @extend .title-base;

  text-align: left;
  position: relative;
  z-index: 1;
}

.title-shadow {
  @extend .title-base;
  
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  text-align: left;
  text-shadow: 10px 10px 8px rgba(0, 0, 0, 0.6);
}
