.tutorial-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.title-modal {
  margin-bottom: 1rem;
}

.tutorial-overlay-container {

  position: relative;
  width: 100%;
  margin: auto;
  height: 70%;
  border-radius: 15px;
}

.tutorial-overlay-container img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  object-fit: contain;
  border: 1px solid #fcf18b;
  border-radius: 17px;
}

.tutorial-modal-p {
  position: absolute;
  z-index: 2;
}

.tutorial-modal-p-shadow {
  position: absolute;
  z-index: 1;
  padding-left: 2px;

  text-shadow: 10px 10px 8px rgba(0, 0, 0, 1);
}

.paging-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fcf18b;
}

.paging-controls .btn {
  color: #fcf18b;

}
