.background {
  background: linear-gradient(360deg, #f0e0b5 0%, #eed8b0 88.89%);
  box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.3);
  padding: 1.5vh 2.5vw;
  max-height: 75%;
  max-width: 80%;
  border-radius: 10px;
  font-size: calc(0.4rem + 0.6vw);
  color: #5b544e;
  margin-top: 10%;
  margin-left: 2%;
}

.content {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 20% 80%;
  gap: 0.1rem;

  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  letter-spacing: 0.5px;
}

.team {
  width: 45%;
}

.game-name {
  font-family: "Wellfleet", sans-serif;
  font-size: calc(0.8rem + 1vw);
  color: #000000;
  grid-row: 1;
  grid-column: 1;
  margin: auto;
}

.private-lobby-password {
  grid-row: 1;
  grid-column: 2;
  margin: auto;
  width: 1rem;
}

.div-slots {
  grid-row: 1;
  grid-column: 2;
  font-size: calc(0.4rem + 0.4vw);
}

.room-btn {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  z-index: 15;
}

.lobby-players {
  width: 122.5%;
  max-height: 80%;
  background: linear-gradient(360deg, #f0e0b5 0%, #eed8b0 88.89%);
  box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.3);
  padding: 5vh 1vw;
  padding-bottom: 0;
  border-radius: 10px;
  gap: 1vh;
  position: relative;
}

.players-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow-y: auto;
  height: 18vh;
  margin: auto;
  width: 100%;
}

.players-container::-webkit-scrollbar {
  display: none;
}

.player-container {
  background: linear-gradient(360deg, #131d25 0%, #2c3d46 88.89%),
    linear-gradient(360deg, #561723 0%, #8d2736 88.89%);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
  height: 3rem;
  max-width: 100%;
  margin: 0.1rem;
  display: flex;
  align-items: center;
  font-family: "Dragon Hunter", sans-serif;
  color: #fcf18b;
  text-transform: uppercase;
  padding-right: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.join-button {
  font-size: calc(0.6rem + 0.8vw);
  color: #5b544e;
  margin-bottom: 10px;
  width: 100%;
}

.player-icon {
  height: 100%;
  align-self: center;
}

.cloud {
  position: absolute;
  width: 4rem;
  height: 4rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.blue-cloud {
  bottom: -15px;
  right: -15px;
  background-color: rgba(22, 81, 190, 0.8);
  width: 6rem;
  height: 6rem;
  color: white;
  border-radius: 50%;
  filter: blur(20px);
  z-index: 0;
}

.red-cloud {
  position: absolute;
  top: -15px;
  left: -15px;
  width: 6rem;
  height: 6rem;
  background-color: rgba(220, 20, 60, 0.8);
  color: white;
  border-radius: 50%;
  filter: blur(20px);
}

.cloud-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  border-radius: 10px;
}
