.background {
  background: linear-gradient(360deg, #f0e0b5 0%, #eed8b0 88.89%);
  box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.3);
  padding: 1.5vh 2.5vw;
  max-height: 75%;
  max-width: 80%;
  border-radius: 10px;
  font-size: calc(0.4rem + 0.6vw);
  color: #5b544e;
  margin-top: 10%;
  margin-left: 2%;
}

.content {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 10% 10% 10% 70%;
  gap: 0.1rem;

  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  letter-spacing: 0.5px;
}

.game-name {
  font-size: calc(0.4rem + 0.8vw);
  grid-row: 1;
  grid-column: 1;
  margin: auto;
}

.div-slots {
  grid-row: 1;
  grid-column: 2;
  font-size: calc(0.4rem + 0.4vw);
}

.room-btn {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  z-index: 15;
}

.lobby-players {
  width: 112.5%;
  max-height: 50%;

  background: linear-gradient(360deg, #f0e0b5 0%, #eed8b0 88.89%);
  box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.3);
  padding: 5vh 2vw;
  border-radius: 10px;
  gap: 1vh; 
  position: relative;
}

.players-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
  overflow-y: auto;
  height: 18vh;
  padding: 0 1vw;
}

.players-container::-webkit-scrollbar {
  display: none;
}

.player-container {
  background: linear-gradient(360deg, #131d25 0%, #2c3d46 88.89%),
    linear-gradient(360deg, #561723 0%, #8d2736 88.89%);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
  height: 3rem;
  margin: 0.1rem;
  display: flex;
  align-items: center;
  font-family: "Dragon Hunter", sans-serif;
  color: #fcf18b;
  text-transform: uppercase;
  padding-right: 1rem;
}

.join-button {
  font-size: calc(0.6rem + 0.8vw);
  color: #5b544e;
  margin-bottom: 10px;
}

.player-icon {
  height: 100%;
  margin-left: 0.5rem;
  align-self: center;
}

.game-name {
    font-size: calc(0.8rem + 0.8vw);
}