.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    padding: 7px;
}

.input-field {
    width: 100%; /* Set a max width for consistency */
    padding: 10px 15px;
    font-size: 1rem;
    color: #000000; /* White text color */
    background-color: #F0E0B5; /* Dark input background to match the theme */
    border: 2px solid #4a4a5e; /* Subtle border color */
    border-radius: 17px; /* Rounded corners */
    outline: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Subtle shadow */
    transition: border-color 0.3s, box-shadow 0.3s; /* Smooth hover/active transitions */
}

.input-field::placeholder {
    color: #b0b0c3; /* Light gray placeholder text */
}

.input-field:focus {
    border-color: #ffd363; /* Gold border on focus */
    box-shadow: 0 6px 10px rgba(255, 211, 99, 0.5); /* Gold shadow on focus */
}

.input-label {
    font-size: 1.2rem;
    color: #fcf18b; /* Light yellow label text to match theme */
    margin-bottom: 5px;
}
