.btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  max-width: 100%;
  padding: 0.625rem 1.25rem;
  font-family: inherit;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;

  border-width: 0.0625rem;
  border-color: rgba(252, 241, 139, 0.5);
  transition: background-color 0.3s ease;
  border-radius: 1.6875rem;
  box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
}

.button-text {
  padding: 0;
  margin: 0;

  padding-left: 2px;
  font-size: calc(0.2rem + 1vw);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;

  background-image: linear-gradient(to right, #fff7ab, #dab274);
}

.btn-primary {
  background-image: linear-gradient(to top, #561723, #8d2736);
  min-width: 12rem;
}

.btn-circle {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.7rem;
  position: absolute;
  top: 2%;
  right: 2%;

  border-width: 0.125rem;
  border-color: #fcf18b;
  background-image: linear-gradient(to top, #22303b, #0b1319);
}

.btn-circle-back {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.7rem;
  align-items: center;
  border-width: 0.125rem;
  border-color: #fcf18b;
  background-image: linear-gradient(to top, #22303b, #0b1319);
}

.btn-search {
  width: 2rem;
  height: 2.5rem;
}

.btn-room {
  background: linear-gradient(360deg, #12501e 0%, #478b35 88.89%);
  min-width: 12rem;
  border-radius: 17px;
  margin: 1rem 1rem;
}

.btn-session {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 100%;
  background-image: linear-gradient(to right, #e9dcc9, #ebd4b1);
  margin-bottom: 4px;
}

.btn-help {
  background-image: linear-gradient(to top, #561723, #8d2736);
  width: 70%;
  padding: 0;
  margin: auto;
  border-width: 0.125rem;
  border-color: #fff7ab;
}

.btn-eye {
  position: absolute;
  right: -3%;
  top: 23%;
  scale: 0.6;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  box-shadow: none;
}

.btn-eye2 {
  position: absolute;
  right: -5%;
  top: 10%;
  scale: 0.6;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  box-shadow: none;
}

.btn-primary-1 {
  background-image: linear-gradient(to top, #561723, #8d2736);
  border-radius: 17px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-size: calc(0.7rem + 0.5vw);
  padding: calc(0.3rem + 0.1vw) 1rem;
}

.btn-primary-1 span {
  padding: 0.1rem;
  position: relative;
  z-index: 2;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #fff7ab, #dab274);
  color: transparent;
}

.btn-join-team {
  background: linear-gradient(to top, #ccbf9a, #dccfaa);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
  height: 3rem;
  width: 100%;
  border: none;
}
.btn-logout {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.7rem;
  position: absolute;
  top: 2%;
  left: 2%;

  border-width: 0.125rem;
  border-color: #fcf18b;
  background-image: linear-gradient(to top, #22303b, #0b1319);
}

.btn-logout-back {
  border-radius: 50%;
  width: 2rem;
  height: 2.5rem;
  align-items: center;
  border-width: 0.125rem;
  border-color: #fcf18b;
  background-image: linear-gradient(to top, #22303b, #0b1319);
}

.btn-logout img,
.btn-logout-back img {
  margin-left: 1rem;
  margin-top: 0.25rem;
}
