.btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding: 0.625rem 1.25rem;

  font-family: Dragon Hunter, sans-serif;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;

  border-width: 1px;
  border-color: rgba(252, 241, 139, 0.5);
  transition: background-color 0.3s ease;
  border-radius: 1.6875rem;
  box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
}

.button-text {
  padding: 0;
  margin: 0;

  font-size: calc(0.2rem + 1vw);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;

  background-image: linear-gradient(to right, #fff7ab, #dab274);
}

.btn-primary {
  background-image: linear-gradient(to top, #561723, #8d2736);
  min-width: 12rem;

}

.btn-circle {
  border-radius: 50%;
  width: 2rem;
  height: 2.5rem;
  position: absolute;
  top: 2%;
  right: 2%;

  border-width: 0.125rem;
  border-color: #fcf18b;
  background-image: linear-gradient(to top, #22303b, #0b1319);
}

.btn-circle-back {
  border-radius: 50%;
  width: 2rem;
  height: 2.5rem;
  align-items: center;
  border-width: 0.125rem;
  border-color: #fcf18b;
  background-image: linear-gradient(to top, #22303b, #0b1319);
}

.btn-room {
  background: linear-gradient(360deg, #12501E 0%, #478B35 88.89%);
  min-width: 12rem;
  border-radius: 17px;
  margin: 1rem 1rem;
}

.btn-session {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 100%;
}

@media (max-width: 1440px) {
  .btn-circle {
    width: 3.6%;
    height: 7%;
  }
}