.progressContainer {
  position: absolute;
  bottom: 22%;
  width: 20%;
  background-color: #ffd363;
  border-radius: 17px;
}

#progressBar {
  width: 100%;
  height: 18px;
  border-radius: 17px;
  border: 2px solid #ffd363;
  background: 
    linear-gradient(
      135deg,
      #8d2736,
      #b3303f,
      #e74c3c,
      #b3303f,
      #8d2736
    ) left / 0% 100% no-repeat,
    #e4e4ed;
  animation: progressAnimation var(--progress-duration) linear forwards;
  box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.3),
              inset 0 -1px 2px rgba(0, 0, 0, 0.3),
              0 0 6px rgba(141, 39, 54, 0.6);
}

@keyframes progressAnimation {
  from {
    background-size: 0% 100%;
  }
  to {
    background-size: 100% 100%;
  }
}
.character-image-start {
  margin-top: 0px;
}
