.list-background{
  background-color: #0e1724;
  opacity: 30%;
  height: 75%;
  margin-top: 9%;
  border-radius: 17px;
  width: 77.6%;
  position: absolute;
  left: 50%;
  transform: translate(-53.22%, 0);
  z-index: -10;
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.8);
}

.list-container {
  overflow-y: auto;
  max-height: 75%;
  margin-top: 9%;
  border-radius: 20px;
  width: 80%;
  position: absolute;
  left: 50%;
  transform: translate(-53%, 0);
}

.list-content {
  margin: 0 auto;
  overflow: hidden;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  border-radius: 17px;
  background: linear-gradient(360deg, #f0e0b5 0%, #eed8b0 88.89%);
  box-shadow: inset 0 20px 30px rgba(0, 0, 0, 0.3);
  width: 97%;
}

.list-container li {
  font-size: 1.3rem;
  width: 100%;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.4);
  border: none;
}

button.variant-session {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: #fff8e5;
  border: none;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  font-family: "Arial", sans-serif;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

button.variant-session:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

/* Room info container */
.room-info {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 60% 40%;
  flex-direction: column;
  padding: 10px;
}

.room-name {
  font-size: 1.3rem;
  font-weight: bold;
  font-family: "Wellfleet", serif;
  color: #4a4a4a;
  grid-row: 1;
}

.room-players {
  font-size: 1rem;
  color: #7b7b7b;
  grid-row: 2;
}

/* Custom Scrollbar */
.list-container::-webkit-scrollbar {
  width: 18px; /* Width of the scrollbar */
}

.list-container::-webkit-scrollbar-track {
  background: linear-gradient(to bottom, #d0c7a1, #d0c5a1);
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 7px;
}

.list-container::-webkit-scrollbar-thumb {
  background: #650a0a; /* Gold thumb color */
  border-radius: 7px;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
}

.list-container::-webkit-scrollbar-thumb:hover {
  background: #720c0c; /* Lighter gold on hover */
}

.room-form-label {
  text-align: center;
  grid-column: 2;
  font-size: 6vh;
  width: 100%;
  background-image: linear-gradient(to bottom, #fcf18b, #ffd363);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  position: relative;
  z-index: 10;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  margin-top: 6%;
  padding-bottom: 1.5vh;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.overlay-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 19; 
}

.pass-overlay {
  background-image: url("../../assets/images/main-page-container.png");
  position: absolute;
  width: 22vw;
  height: 12vw;
  margin: 0;
  padding: 0;
  z-index: 20;
  background-size: cover;
  border: 27px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.password-input-overlay {
  width: auto;
  grid-row: 2;
}

.pass-overlay-label {
  grid-row: 1;
  font-size: 2rem;
  padding-bottom: 0;
}

.sbmit{
  width: 8rem;
  border-radius: 27px;
  margin: auto;
}

.small-lock-icon {
  width: 1.5rem;
  margin: auto;
  margin-right: 0.5rem;
  grid-row: span 2;
}







.simple-search-bar {
  grid-area: 2 / 2;
  width: 72%;
  max-width: 600px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translate(-57%, 0);
}

.simple-search-bar input {
  width: 100%;
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 8px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  border-style: outset;
  border-width: 0.14rem;
  border-color: #fcf18bca;
  background-image: linear-gradient(to top, #22303b, #0b1319);
  color: #fcf18bca;
  font-family: Wellfleet, serif;
}

.simple-search-bar input:focus {
  border-color: #fcf18b;
}

.simple-search-bar input::placeholder {
  color: #fcf18b7a;
}
