.list-content {
    margin: 0 auto;
    margin-top: 9%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem; /* Spacing between game buttons */
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: 75%;
    max-width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: #f5e1c1; /* Light beige background */
    box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 80%
}

/* Style for each game session button */
button.variant-session {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: #fff8e5;
    border: none;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

button.variant-session:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

/* Room info container */
.room-info {
    display: flex;
    flex-direction: column;
}

.room-name {
    font-size: 16px;
    font-weight: bold;
    color: #4a4a4a;
}

.room-players {
    font-size: 14px;
    color: #7b7b7b;
}

/* Custom Scrollbar */
.list-content::-webkit-scrollbar {
    width: 14px; /* Width of the scrollbar */
}

.list-content::-webkit-scrollbar-track {
    background: linear-gradient(to bottom, #d0c7a1, #d0c5a1);
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.list-content::-webkit-scrollbar-thumb {
    background: #650a0a; /* Gold thumb color */
    border-radius: 7px;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
}

.list-content::-webkit-scrollbar-thumb:hover {
    background: #720c0c; /* Lighter gold on hover */
}

.room-form-label{
    text-align: center;
    font-size: 6vh;

    background-image: linear-gradient(to bottom, #fcf18b, #ffd363);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  
    position: relative;
    z-index: 10;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    margin-top: 6%;
    padding-bottom: 7vh;

  
}