.menu-container {
  background-image: url("../../assets/images/main-page-container.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 31%;
  width: 32%;
  border-radius: 17px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);

  display: grid;
  grid-template-columns: 1fr 5px 1fr;
  grid-template-rows: 0.8fr 0.8fr 0.8fr 0.8fr;
}
