.title-container {
  position: relative;
  text-align: center;
  width: 100%;
}

.title {
  margin: 0;
  margin-bottom: -15px;
  font-family: "Dragon Hunter", sans-serif;
  font-weight: 300;
  font-size: calc(4.8rem + 1vw);
  text-align: center;
  text-transform: uppercase;

  background-image: linear-gradient(to bottom, #fcf18b, #ffd363);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  position: relative;
  z-index: 1;

  animation: hitEffect 0.3s ease-out;
  user-select: none;
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
}

.title-shadow {
  width: 100%;
  margin: 0;
  font-family: "Dragon Hunter", sans-serif;
  font-weight: 300;
  font-size: calc(4.8rem + 1vw);
  text-align: center;
  text-transform: uppercase;

  background-image: linear-gradient(to bottom, #fcf18b, #ffd363);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  position: absolute;
  left: 0;
  top: 0;
  text-shadow: 10px 10px 8px rgba(0, 0, 0, 0.6);

  animation: hitEffect 0.3s ease-out;
  user-select: none;
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
}

@keyframes hitEffect {
  0% {
    transform: scale(3) translateY(-100px);
    opacity: 0;
  }
  75% {
    transform: scale(0.6) translateY(-10px);
    opacity: 0.5;
  }
  100% {
    transform: scale(1) translateY(0); 
    opacity: 1;
  }
}