/* === General App Wrapper Styles === */
.app-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;

  /* Flexbox for centering content */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* === Column and Row Layout === */

/* First column: Contains two rows */
.first-column {
  display: grid;
  grid-template-rows: 0.8fr 0.8fr; /* Two rows of equal height */
  grid-row: 2 / span 2; /* Spans rows in the grid */
}

.row1,
.row2 {
  display: flex; /* Flexbox for centering items */
  justify-content: center;
  align-items: center;
}

.row2 {
  padding-top: 1rem; /* Add space above the second row */
}

/* Second column: Mirrors first column layout */
.second-column {
  grid-column: 3;
  grid-template-rows: 0.8fr 0.8fr;
  grid-row: 2 / span 2;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* === Decorative Elements === */

/* Gold Bar: Divider between columns */
.gold-bar {
  grid-column: 2;
  grid-row: 1 / span 4; /* Spans all rows */

  height: 62.7%;
  width: 2px;
  margin: auto;
  z-index: 3;

  /* Gold gradient effect */
  background-image: linear-gradient(to right, #DAB274, #745F3E);
}
