.characters-container {
  position: absolute;
  margin: auto;
  width: clamp(400px, 30vw, 650px);
  max-width: 90vw;
  padding-bottom: clamp(10rem, 30vh, 28rem);
  z-index: 0;
}

.characters {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
