form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 95%;
  margin: 0 auto;
  padding: 0 0.8rem;
}

.form-content {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 0.9rem;
  align-items: center;
  justify-content: center;
  background: linear-gradient(360deg, #f0e0b5 0%, #eed8b0 88.89%);
  border-radius: 27px;
  padding: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 90%;
  height: 100%;
  margin: auto;
  margin-bottom: 0.2em;
  margin-top: 0;
  min-height: 50px;
  font-size: calc(0.23rem + 1vw);
  letter-spacing: 1px;
  color: #363534;
}

#playerSlider {
  width: 60%;
  margin: 10px 0;
  border-radius: 5px;
  margin-top: 1px;
  font-size: 1.3rem;
  background-color: #eed8b0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 27px;
}

.slider-value {
  color: #5b544e !important;
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: -10px;
}

.slider-value {
  margin-left: 10px;
}

.input-box {
  padding: 8px 15px;
  font-size: calc(0.1rem + 1vw);
  font-family: "Wellfleet", serif;
  color: #5b544e;
  background-color: #eeddaf;
  border: none;
  border-radius: 12px;
  outline: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -5px -5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease;
  text-indent: 1px;
}

#gameName {
  font-size: calc(0.2rem + 1vw);
  padding: 0.8rem;
}

#gameName::placeholder {
  color: #5b544e;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2),
    -1px -1px 2px rgba(255, 255, 255, 0.7);
  opacity: 0.3;
}

.check-button {
  margin: auto;
  margin-left: 20px;
}

.check-button img {
  width: 27px;
}

.back-button {
  margin-left: -40px;
  margin-top: -30px;
}

.password-input {
  display: none;
}

.password-input.visible {
  display: block;
  font-size: calc(0.2rem + 1vw);
  padding: 0.8rem;
  font-family: "Wellfleet", serif;
  color: #5b544e;
  background-color: #f0e0b5;
  border: none;
  border-radius: 12px;
  outline: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1),
    -5px -5px 10px rgba(255, 255, 255, 0.45);
  transition: 0.3s ease;
  text-indent: 1px;
}

#deckLanguage {
  width: 70%;
  margin-left: 5px;
}

.label-inset {
  font-size: calc(0.3rem + 1vw);
  color: #5b544e;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2),
    -1px -1px 2px rgba(255, 255, 255, 0.7);
}

.password-input::placeholder {
  color: #5b544e;
  opacity: 0.3;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2),
    -1px -1px 2px rgba(255, 255, 255, 0.7);
}

.room-form-divider {
  width: 35%;
  height: 10%;
  border-radius: 1.6875rem 1.6875rem 0 0;
  background-color: #eed8b0;
  margin: -20px auto 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.room-form-divider-title {
  font-size: calc(0.2rem + 0.8vw);
  color: #f0e1b8;
  font-weight: bold;
  text-transform: uppercase;

  text-shadow: -2px -2px 5px rgba(7, 6, 6, 0.4), 2px 2px 5px rgba(7, 6, 6, 0.4);

  background-color: #eed8b0;
  margin: 12px 0 0 0;
}

.custom-checkbox img {
  width: 25%;
  height: 25%;
}
