form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 80%;
    height: 80%;
    margin: auto;
    padding: 1rem;
}
.form-content {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    background: linear-gradient(360deg, #F0E0B5 0%, #EED8B0 88.89%);
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.3), inset 0 0 15px 5px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    padding: 2rem;
    min-width: 90%;
    height: 100%;
    margin: auto;
    margin-bottom: 15px;

}

#playerSlider {
    width: 80%;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #F0E0B5; /* Dark input background to match the theme */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Subtle shadow */
    border-radius: 17px;
}
.error-message {
    color: red;
    font-size: 0.9rem;
    margin-top: -10px;
}

.slider-value{
    margin-left: 15px;
}


.input-box{
    padding: 10px 15px;
    font-size: 1rem;
    font-family: inherit;
    color: #000000; /* White text color */
    background-color: #F0E0B5; /* Dark input background to match the theme */
    border: none; /* Subtle border color */
    border-radius: 17px; /* Rounded corners */
    outline: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Subtle shadow */
    transition: border-color 0.3s, box-shadow 0.3s; /* Smooth hover/active transitions */
    text-indent: 1px;
}

.back-button{
    margin-left: -10px;
    margin-top: -10px;
}