.background-container {
  position: absolute; /* This positions the background absolutely */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/images/background.png");
  background-size: cover;
  background-position: center; /* This ensures the background is centered */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1; /* Put it behind the content */
}

.background-container::before {
  content: "";
  position: absolute;
  inset: 0;
  box-shadow: inset 0px 4px 100px 57px rgba(0, 0, 0, 0.25);
}
