.footer-bar {
  height: 4vh;

  display: flex;
  position: absolute;
  top: 3%;
  justify-content: center;
  align-items: center;
  padding: 0 3vw;

  font-size: calc(0.4rem + 1vw);
  text-transform: uppercase;

  background: linear-gradient(to top, #32464d, #2c3d46, #22303b);
  border-style: outset;
  border-width: 0.5%;
  border-color: #fcdc8b80;
  border-radius: 27px;

  text-shadow: 0.2% 0.2% 0.4% rgba(0, 0, 0, 0.2);
  box-shadow: inset 2.91px 2.91px 5px #404040, inset -2.91px -2.91px 5px #565555;
  z-index: 10;
  letter-spacing: 0.2%;
  text-align: center;
}

.footer-bar-title {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to top, #FFD363, #FCF18B);
  margin-top: 3px;
  width: 10vw;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
