.footer-bar {
  height: 4vh;

  display: flex;
  position: absolute;
  top: 3%;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;

  font-size: calc(0.4rem + 1vw);
  text-transform: uppercase;

  background: linear-gradient(to top, #32464d, #2c3d46, #22303b);
  border-style: outset;
  border-width: 2px;
  border-color: #fcdc8b80;
  border-radius: 27px;

  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 10;
  letter-spacing: 2px;
  text-align: center;
}

.footer-bar-title {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to top, #ffd363, #fcf18b);
  width: 10vw;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
