.room-menu-container {
  background-image: url("../../assets/images/main-page-container.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 60%;
  width: 25%;
  border-radius: 17px;
  box-shadow: inset 9.91px 9.91px 15px #2c2c2c, inset -9.91px -9.91px 15px #3d3d3d;
  z-index: 1;
  display: grid;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 20% 80%;
  margin-top: 7vh;
  position: relative;
}