.room-menu-container {
  background-image: url("../../assets/images/main-page-container.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80%;
  width: 40%;
  border-radius: 17px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
  z-index: 1;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 10% auto;
  margin-top: 7vh;
}
