.page-r {
  width: 70% !important;
  row-gap: 0.5rem !important;
}

.token-expired-message {
  width: 60%;
  font-size: 1em;
  background-image: linear-gradient(to bottom, #fcf18b, #ffd363);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  line-height: 1.5;
  text-align: center;
  margin-top: 2rem;
}

.token-expired-message a {
  background: linear-gradient(to right, #ffd363, #fcf18b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  font-size: 1.1em;
  text-decoration: none;
  border-bottom: 1px solid #ffd363;

  transition: border-bottom 0.1s ease;
  margin-bottom: 0.3rem;
}

.token-expired-message a:hover {
  border-bottom: 2px solid #ffd363;
}
