.page-r {
   width: 70% !important;
   row-gap: 0.5rem !important;
}

.token-expired-message {
  font-size: 1rem;
  background-image: linear-gradient(to bottom, #fcf18b, #ffd363);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  line-height: 1.5;
}

.token-expired-message a {
  background: linear-gradient(to right, #FFD363, #FCF18B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;

  text-decoration: none;
  border-bottom: 1px solid #FFD363;

  transition: border-bottom 0.1s ease;
  margin-bottom: 0.3rem;
}

.token-expired-message a:hover {
  border-bottom: 2px solid #FFD363; 
}


